.sec1 {
    height: 800px;
    display: flex;
    justify-content: space-between;
    .hero {
        width: calc(50% - 1px);
        background-repeat: no-repeat;
        background-size: 960px auto;
        background-position: center 50px;
    }
    .left {
        background-image: url(${hero_01});
        background-color: var(--main_color_01);
    }
    .right {
        background-image: url(${hero_02});
        background-color: var(--main_color_02);
    }
}
.sec2 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20em 0;
    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5em;
        opacity: 0.5;
    }
}
